.App {
  text-align: center;
}
.addTaskContainer {
  width: 30em;
  margin-bottom: 2em;
}
.row {
  margin-bottom: 0.5em;
}
ul {
  list-style-type: none;
}
.task {
  border: 1px solid gray;
  margin-bottom: 0.5em;
}
